In [1]:
from pymongo import MongoClient
import pandas as pd 

import os
from os.path import join, dirname
from dotenv import load_dotenv

In [2]:
# dotenv_path = join(dirname(__file__), '.env')
load_dotenv()

True

In [3]:
df=pd.read_csv("Visadataset.csv")

In [4]:
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [5]:
df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [6]:
# mongodb needs dict like obj (key value pair)
data = df.to_dict(orient='records')

In [7]:
data[0] # this ic called collection

{'case_id': 'EZYV01',
 'continent': 'Asia',
 'education_of_employee': 'High School',
 'has_job_experience': 'N',
 'requires_job_training': 'N',
 'no_of_employees': 14513,
 'yr_of_estab': 2007,
 'region_of_employment': 'West',
 'prevailing_wage': 592.2029,
 'unit_of_wage': 'Hour',
 'full_time_position': 'Y',
 'case_status': 'Denied'}

In [8]:
# mongodb connection string : mongodb atlas
connection_str = os.environ.get('MONGO_CONNECTION_STR')
DB_NAME = 'US_VISA'
COLLECTION_NAME = "VISA_DATA"
CONNECTION_URL = connection_str

In [10]:
client = MongoClient(
    CONNECTION_URL
) # create connection

data_base = client[DB_NAME] # create db

collection = data_base[COLLECTION_NAME] # create collection 

record = collection.insert_many(data) # insert the data to collection

In [11]:
# fetching data from mongo 

records = collection.find()
records

In [14]:
for i,j in enumerate(records):
    print(i)
    print(j)
    break

0
{'_id': ObjectId('65de366d70acd430597a45f1'), 'case_id': 'EZYV03', 'continent': 'Asia', 'education_of_employee': "Bachelor's", 'has_job_experience': 'N', 'requires_job_training': 'Y', 'no_of_employees': 44444, 'yr_of_estab': 2008, 'region_of_employment': 'West', 'prevailing_wage': 122996.86, 'unit_of_wage': 'Year', 'full_time_position': 'Y', 'case_status': 'Denied'}

In [15]:
# converting data back to dataframe 

df = pd.DataFrame(list(records))

In [16]:
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,65de366d70acd430597a45f2,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
1,65de366d70acd430597a45f3,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
2,65de366d70acd430597a45f4,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.1400,Year,Y,Certified
3,65de366d70acd430597a45f5,EZYV07,Asia,Bachelor's,N,N,4985,1994,South,53635.3900,Year,Y,Certified
4,65de366d70acd430597a45f6,EZYV08,North America,Bachelor's,Y,N,3035,1924,West,418.2298,Hour,Y,Denied