In [2]:
from pymongo import MongoClient
import pandas as pd 

import os
from os.path import join, dirname
from dotenv import load_dotenv

In [3]:
# dotenv_path = join(dirname(__file__), '.env')
load_dotenv()

True

In [4]:
df=pd.read_csv("Visadataset.csv")

In [5]:
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [5]:
df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [6]:
# mongodb needs dict like obj (key value pair)
data = df.to_dict(orient='records')

In [7]:
data[0] # this ic called collection

{'case_id': 'EZYV01',
 'continent': 'Asia',
 'education_of_employee': 'High School',
 'has_job_experience': 'N',
 'requires_job_training': 'N',
 'no_of_employees': 14513,
 'yr_of_estab': 2007,
 'region_of_employment': 'West',
 'prevailing_wage': 592.2029,
 'unit_of_wage': 'Hour',
 'full_time_position': 'Y',
 'case_status': 'Denied'}

In [17]:
# mongodb connection string : mongodb atlas
connection_str = os.environ.get('MONGO_CONNECTION_STR')
DB_NAME = 'US_VISA'
COLLECTION_NAME = "VISA_DATA"
CONNECTION_URL = connection_str

In [18]:
client = MongoClient(
    CONNECTION_URL
) # create connection

data_base = client[DB_NAME] # create db

collection = data_base[COLLECTION_NAME] # create collection 

record = collection.insert_many(data) # insert the data to collection

In [19]:
# fetching data from mongo 

records = collection.find()
records

In [20]:
for i,j in enumerate(records):
    print(i)
    print(j)
    break

0
{'_id': ObjectId('65ede4fa02fa2e6ef5a298c0'), 'case_id': 'EZYV01', 'continent': 'Asia', 'education_of_employee': 'High School', 'has_job_experience': 'N', 'requires_job_training': 'N', 'no_of_employees': 14513, 'yr_of_estab': 2007, 'region_of_employment': 'West', 'prevailing_wage': 592.2029, 'unit_of_wage': 'Hour', 'full_time_position': 'Y', 'case_status': 'Denied'}

In [21]:
# converting data back to dataframe 

df = pd.DataFrame(list(records))

In [22]:
df.head()

,_id,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,65ede4fa02fa2e6ef5a298c1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.65,Year,Y,Certified
1,65ede4fa02fa2e6ef5a298c2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.86,Year,Y,Denied
2,65ede4fa02fa2e6ef5a298c3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.03,Year,Y,Denied
3,65ede4fa02fa2e6ef5a298c4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.39,Year,Y,Certified
4,65ede4fa02fa2e6ef5a298c5,EZYV06,Asia,Master's,Y,N,2339,2012,South,78252.14,Year,Y,Certified

In [23]:
df.shape

(25479, 13)

In [24]:
df1 =pd.read_csv("Visadataset.csv")

In [25]:
df1.shape

(25480, 12)